
.appContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #eff9f3; 
}


.appTitle {
  color: #1e6f5c; 
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px; 
}

.select--focused {
  border-color: #a5d3d6; 
  box-shadow: 0 0 0 3px rgba(165, 211, 214, 0.2); 
}
