
.carritoContainer {
  background-color: #d8eaf0;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}


.carritoItem {
  padding: 10px 0;
  border-bottom: 1px solid #b7dce4; 
}


.carritoItem:last-child {
  border-bottom: none; 
}
